In [73]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame
from numpy import nan as NA

In [74]:
ser = pd.Series([1,2,3,4,5,5,6,7,8,0,10,12,5,4,23,61,4,3,3,3,1,1])

In [75]:
ser.value_counts(sort=True).values[0]

4

In [80]:
most_frequent = ser.value_counts().values[0]
mask = ser.value_counts().values == most_frequent
result = ser.value_counts().index[mask]

In [101]:
df = DataFrame([[1, 3.8, 2.1],
                  [2, NA, NA],
                  [NA, NA, NA],
                  [NA, 4.8, 1.7],
                 [NA, 4.8, 1.7]])
daf

ValueError: Shape of passed values is (5, 4), indices imply (4, 4)

In [97]:
df.fillna(method='ffill', inplace=True)
df

     0    1    2
0  1.0  3.8  2.1
1  2.0  3.8  2.1
2  2.0  3.8  2.1
3  2.0  4.8  1.7
4  2.0  4.8  1.7

In [113]:
df['diff'] = df.max(axis=1) - df.min(axis=1)

In [114]:
df

   one  two  three  diff
0  1.0  3.8    2.1   2.8
1  2.0  NaN    NaN   0.0
2  NaN  NaN    NaN   NaN
3  NaN  4.8    1.7   3.1
4  NaN  4.8    1.7   3.1

In [112]:
df.groupby(by='Category').apply(helper)

In [ ]:
def helper(inputdf):
    newdf = inputdf.copy()
    avgPrice = newdf['Price'].mean()
    newdf['Price'].fillna(avgPrice, inplace=True)
    return newdf

In [131]:
#Part 2

In [256]:
#groupby then apply

df = DataFrame([[1, 3.8, 2.1],
                  [2, NA, NA],
                  [NA, NA, NA],
                  [NA, 4.8, 1.7],
                 [NA, 4.8, 1.7]], columns=['one','two','three'])

In [257]:
meandf = df.groupby('three')['two'].mean()
meandf

three
1.7    4.8
2.1    3.8
Name: two, dtype: float64

In [258]:
df.fillna({})

   one  two  three
0  1.0  3.8    2.1
1  2.0  NaN    NaN
2  NaN  NaN    NaN
3  NaN  4.8    1.7
4  NaN  4.8    1.7

In [264]:
# modify original
datf.fillna({1: 2.5, 2: 1.5},inplace=True)
datf

AttributeError: 'DataFrame' object has no attribute 'itteritems'

In [259]:
def helper2(inputdf):
    newdf = inputdf.copy()
    avgPrice = newdf['two'].mean()
    newdf['one'].fillna(avgPrice, inplace=True)
    return newdf

In [260]:
df = df.groupby(by='three').apply(helper2)

In [253]:
df

         one  two  three
three
1.7   3  4.8  4.8    1.7
      4  4.8  4.8    1.7
2.1   0  1.0  3.8    2.1

In [233]:
df.droplevel(0).reset_index()

   index  one  two  three
0      3  5.3  4.8    1.7
1      4  5.3  5.8    1.7
2      0  1.0  3.8    2.1

In [206]:
df = DataFrame([[1, 3.8, 2.1],
                  [2, NA, NA],
                  [NA, NA, NA],
                  [NA, 4.8, 1.7],
                 [NA, 5.8, 1.7]], columns=['one','two','three'])

In [207]:
df

   one  two  three
0  1.0  3.8    2.1
1  2.0  NaN    NaN
2  NaN  NaN    NaN
3  NaN  4.8    1.7
4  NaN  5.8    1.7

In [210]:
meandf = df.groupby('three')['two'].mean()
meandf

three
1.7    5.3
2.1    3.8
Name: two, dtype: float64

In [212]:
meandf[1.7]

5.3

In [213]:
ser = pd.Series(df['three'].unique())

In [214]:
ser2 = pd.Series(df[''])

KeyError: ''